<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="AddIntoCartToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="~/img/cart.jpg" width="30" class="rounded me-2" alt="...">
            <strong class="me-auto">Game store</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Game is added into your cart!
        </div>
    </div>
</div>