@model string

<style>
    .comment-form,
    .comments {
        margin-top: 20px;
    }

    .comment-buttons {
        margin-top: 10px;
    }

    .hidden {
        display: none;
    }
</style>


<div class="comment-form hidden" id="commentForm@(Model)">
    <textarea id="commentText@(Model)" placeholder="Enter your comment (max 600 characters)"></textarea>
    <div class="comment-buttons">
        <button id="comment-save" onclick="addCommentEvent('@ViewData["username"]')">Save</button>
        <button id="comment-cancel" onclick="cancelCommentEvent('@Model')">Cancel</button>
    </div>
</div>