@model Game

@inject SignInManager<GameStoreUser> SignInManager
@inject UserManager<GameStoreUser> UserManager

@{
    ViewData["username"] = (await UserManager.GetUserAsync(User))?.UserName;

    string imgDataUrl;
    if (Model.Image != null && Model.Image.Length != 0)
    {
        var gameImage = Convert.ToBase64String(Model.Image);
        imgDataUrl = string.Format("data:image/jpg;base64,{0}", gameImage);
    }
    else
    {
        imgDataUrl = "/img/default-game-image.jpeg";
    }
}

<!-- Page section -->
<section class="page-section single-blog-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-thumb set-bg" data-setbg="@imgDataUrl">
                    @{
                        string genresAsString = "";
                        @foreach (var genre in Model.Genres)
                        {
                            if (string.IsNullOrEmpty(genresAsString))
                            {
                                genresAsString += genre.GetAttribute<DisplayAttribute>().Name;
                            }
                            else
                            {
                                genresAsString += " / " + genre.GetAttribute<DisplayAttribute>().Name;
                            }
                        }
                    }
                    @if (!string.IsNullOrEmpty(genresAsString))
                    {
                        <div class="cata racing">@genresAsString</div>
                    }
                </div>
                <div class="blog-content">
                    <h3>@Model.Title</h3>
                    <a href="" class="meta-comment">3 comment</a>
                    <p>@Model.Description</p>
                    <form asp-action="EditGameData" asp-controller="Game" method="post">
                        <input type="hidden" asp-for="Id" name="gameId" />
                        <button class="btn btn-primary btn-sm">
                            Edit data
                        </button>
                    </form>
                    <form asp-action="DeleteGame" asp-controller="Game" method="post">
                        <input type="hidden" asp-for="Id" name="gameId" />
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#removeGameModal" type="button">
                            Delete game
                        </button>
                        <dlg id="removeGameModal" title="Remove game">
                            Are you sure to want to completely remove this game?
                        </dlg>
                    </form>
                </div>
                <div class="comment-warp">
                    <partial name="_CommentForm"/>
                    <ul class="comment-list">
                        <li>
                            <div class="comment">
                                <div class="comment-content">
                                    <h5>James Smith <span>June 21, 2018</span></h5>
                                    <p>Donec venenatis at eros sit amet aliquam. Donec vel orci efficitur, dictum nisl vitae, scelerisque nibh. Curabitur eget ipsum pulvinar nunc gravida interdum. </p>
                                    <a href="" class="reply">Reply</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-content">
                                    <h5>James Smith <span>June 21, 2018</span></h5>
                                    <p>Donec venenatis at eros sit amet aliquam. Donec vel orci efficitur, dictum nisl vitae, scelerisque nibh. Curabitur eget ipsum pulvinar nunc gravida interdum. </p>
                                    <a href="" class="reply">Reply</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page section end -->