@model SingleGameViewModel

@{
    string imgDataUrl;
    if (Model.Image != null && Model.Image.Length != 0)
    {
        var gameImage = Convert.ToBase64String(Model.Image);
        imgDataUrl = string.Format("data:image/jpg;base64,{0}", gameImage);
    }
    else
    {
        imgDataUrl = "/img/default-game-image.jpeg";
    }

}
<!-- Page section -->
<section class="page-section single-blog-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-thumb set-bg" data-setbg="@imgDataUrl">
                    @{
                        string genresAsString = "";
                        @foreach (var genre in Model.Genres)
                        {
                            if (string.IsNullOrEmpty(genresAsString))
                            {
                                genresAsString += genre.GetAttribute<DisplayAttribute>().Name;
                            }
                            else
                            {
                                genresAsString += " / " + genre.GetAttribute<DisplayAttribute>().Name;
                            }
                        }
                    }
                    @if (!string.IsNullOrEmpty(genresAsString))
                    {
                        <div class="cata racing">@genresAsString</div>
                    }
                </div>
                <div class="comment-form-warp">
                    <h4 class="comment-title">Edit game data</h4>
                    <form asp-controller="Game" asp-action="UpdateGameData" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id"/>
                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="Title" type="text" required>
                            </div>
                            <div class="col-md-6">
                                <input type="file" asp-for="UploadedImage"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" asp-for="Price" required>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editGenres">
                                    Add / remove genre
                                </button>
                                <partial name="_EditGameGenres" model="@Model" />
                            </div>
                            <div class="col-lg-12">
                                <textarea asp-for="Description"></textarea>
                                <button class="site-btn btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page section end -->