@model GamesViewModel

<!--Games section  -->

<div class="row">
    @foreach (var game in Model.Games)
    {
        <div class="col-lg-4 col-md-6">
            <div class="recent-game-item">
                <div class="rgi-thumb set-bg" data-setbg="img/recent-game/7.jpg">
                    @{
                        string genresAsString = "";
                        @foreach (var genre in game.Genres)
                        {
                            if (string.IsNullOrEmpty(genresAsString))
                            {
                                genresAsString += genre.Name;
                            }
                            else
                            {
                                genresAsString += "/" + genre.Name;
                            }

                            if (genre.SubGenres != null)
                            {
                                foreach (var subgenre in genre.SubGenres)
                                {
                                    genresAsString += "/" + subgenre.Name;
                                }
                            }
                        }
                    }
                    <div class="cata racing">@genresAsString</div>
                </div>
                <div class="rgi-content">
                    <a asp-controller="Home" asp-action="ViewGame" asp-route-gameId="@game.Id"><h5>@game.Title</h5></a>
                    <a href="#" class="comment">3 Comments</a>
                    <div class="rgi-extra">
                        <p>$@game.Price</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Games section end -->
