@model GamesViewModel

<!--Games section  -->

<div class="row">
    @foreach (var game in Model.Games)
    {
        var gameImage = Convert.ToBase64String(game.Image);
        var imgDataUrl = string.Format("data:image/jpg;base64,{0}", gameImage);

        <div class="col-lg-4 col-md-6">
            <div class="recent-game-item">
                <div class="rgi-thumb set-bg" data-setbg="@imgDataUrl">
                    @{
                        string genresAsString = "";
                        @foreach (var genre in game.Genres)
                        {
                            if (string.IsNullOrEmpty(genresAsString))
                            {
                                genresAsString += (genre).GetAttribute<DisplayAttribute>().Name;
                            }
                            else
                            {
                                genresAsString += " / " + (genre).GetAttribute<DisplayAttribute>().Name;
                            }
                        }
                    }
                    @if (!string.IsNullOrEmpty(genresAsString))
                    {
                        <div class="cata racing">@genresAsString</div>
                    }
                </div>
                <div class="rgi-content">
                    <a asp-controller="Game" asp-action="ViewGame" asp-route-gameId="@game.Id"><h5>@game.Title</h5></a>
                    <a href="#" class="comment">3 Comments</a>
                    <div class="rgi-extra">
                        <p>$@game.Price</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Games section end -->
