@model OrderModel

@{
    var paymentTypes = Enum.GetValues(typeof(PaymentType));
}

<style>
    form {
        max-width: 500px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
        margin-top: 10px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        width: 100%;
        max-width: 400px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
</style>

<form asp-action="ConfirmOrder" asp-controller="Cart">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CartId" />
    <div class="form-group">
        <label for="inputFirstName">First name</label>
        <input type="text" asp-for="FirstName" class="form-control" id="inputFirstName" placeholder="Enter first name" required maxlength="600">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last name</label>
        <input type="text" asp-for="LastName" class="form-control" id="inputLastName" placeholder="Enter last name" required maxlength="600">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" asp-for="Email" class="form-control" id="inputEmail" placeholder="Enter email" required maxlength="600">
    </div>
    <div class="form-group">
        <label for="inputPhone">Phone number</label>
        <input type="tel" asp-for="PhoneNumber" class="form-control" id="inputPhone" placeholder="Enter phone number" required maxlength="600">
    </div>
    <label for="paymentTypes" class="form-label">Payment type</label>
    <select id="paymentTypes" asp-for="PaymentType" class="form-control form-select-sm" aria-label="Payment type">
        @foreach (var type in paymentTypes)
        {
            if ((PaymentType)type == Model.PaymentType)
            {
                <option value="@((PaymentType)type)" selected>
                    @(((PaymentType)type).GetAttribute<DisplayAttribute>().Name)
                </option>
            }
            else
            {
                <option value="@((PaymentType)type)">
                    @(((PaymentType)type).GetAttribute<DisplayAttribute>().Name)
                </option>
            }
        }
    </select>
    <div class="form-group">
        <label for="inputComment">Comment (optional)</label>
        <textarea asp-for="Comment" class="form-control" id="inputComment" rows="3" maxlength="600"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>